VITE_SUPABASE_URL=https://bhkiqwfzoectioybxzhy.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJoa2lxd2Z6b2VjdGlveWJ4emh5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY5MzQwNjAsImV4cCI6MjA5MjUxMDA2MH0.-Mx3lPoM4TEjHJBomlWfUds0nviCeff6UmcAgdTN3PA
